* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
:root {
  --bg-1: #f3f4f6;
  --radius: 12px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--bg-1);
}

h1 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 50px;
}

a,
a:visited {
  color: black;
}

a:hover {
  color: blue;
}

.hotels {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: white;
  border-radius: var(--radius);
  padding: 16px;
}

.input-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 8px;
}

input {
  padding: 4px 8px;
  padding-left: 32px;
  width: 100%;
  border: none;
  border-radius: var(--radius);
  height: 35px;
  background-color: var(--bg-1);
}

svg {
  top: 50%;
  transform: translateY(-50%);
  left: 8px;
  position: absolute;
  height: 16px;
  width: 16px;
}

input:focus {
  outline: none;
}

table {
  min-width: 50vw;
  border-collapse: collapse;
}

th {
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.4);
  font-size: 14px;
}

tr:first-of-type:hover {
  background-color: transparent;
}

tr:hover {
  background-color: var(--bg-1);
}

th:last-of-type,
td:last-of-type {
  text-align: end;
}

th,
td {
  text-align: start;
  padding: 12px;
}

td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

tr:last-of-type td {
  border: none;
}

.hotel:last-of-type {
  margin-bottom: 0;
}
